@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.container
{
    position: relative;

    width: 100%;
    height: 100vh;

    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle 
{
    position: absolute;

    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 300px;
    border-top: 3px solid #fff; 

    border-radius: 50%;

}

.container > span 
{
    position: absolute;
    // top: 240px;
    top: calc((100vh / 2) - 180px);    


    width: 20px;
    height: 20px;

    background: #fff;

}

.container > span p 
{
    text-align: center;
}

.circle > span 
{
    // position: absolute;
    top: 150px; 

    width: 20px;
    height: 20px;
    
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}


.circle > span:nth-child(2)
{
    position: absolute;
    left: -10px;
}

.circle > span:nth-child(3)
{
    position: absolute;
    right: -10px;
}

.dial 
{
    position: absolute;
    top: 10%;
    left: 50%;

    width: 10px;
    height: 120px;
    background: #fff;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    transform-origin: bottom center;


    //// CSS Animation (Replaced with JS) - Rotating the dial from -90 to +90 of 180 deg. 
    //// Uncomment to test the UI with CSS only. 
    //// It has been tested and working. 
    
    // animation: MoveDial_90CW 6s linear infinite;
    transform: rotate(-90deg); // Starting from left side. Without it will start form the 90deg position. 
    transition-delay: 0.10s;

}

.Tune
{
    width: 100px;
    height: 50px;
    margin-top: 100px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

// .Tune h3 
// {
//     transition-delay: 0.15s;

// }

.circle.active
{
    border-top: 3px solid rgb(6, 245, 6); 

} 
.dial.active
, .Tune.active
, .natural.active
{
    background: rgb(6, 245, 6);
}

.flat.active
, .sharp.active
{
    background: rgb(255, 0, 0, 0.7);
    color: #fff; 
}



.Tune h3
{
    font-size: 50px;
    font-weight: 700;
}

.Tune.active h3
{
    color: rgba(0, 0, 0, 0.8);
}

//// Animation - Rotating the dial from -90 to +90 of 180 deg 
@keyframes MoveDial_90CW 
{
    0%, 100%
    {
        transform: rotate(-90deg);
    }
    50%
    {
        transform: rotate(90deg);

    }
    
}


.discription
{
    position: absolute;

    left: 0; 
    bottom: 0; 

    padding: 20px;
    
    width: 100vw; 

    color: #fffa; 
    font-size: 16px;

}


